.containerCard {
    min-height: 100vh;
    background-color: #007AFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
    color: white !important;
    text-decoration: solid;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.logo {
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.progress {
    border-radius: 0px !important;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}